.info-profil {
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-info-profil {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.wrapper-info-profil.tel {
  width: 40%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  color: #11cc55;
  font-size: 3rem;
}
.wrapper-info-profil.tel a {
  font-size: 2rem;
  color: aliceblue;
  margin-left: 1rem;
  transition: color 0.3s ease-in-out;
}
.wrapper-info-profil.tel a:hover {
  color: #11cc55;
}
.info-profil h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}
.info-profil p {
  font-size: 1.1rem;
}
@media (max-width:768px) {
  .info-profil,.wrapper-info-profil {
    width: 100%;
  }
  .wrapper-info-profil.tel,.info-profil h1,.wrapper-info-profil.tel a {
    font-size: 1.2rem;
  }
}
