.projects{
  margin-top: 10vh;
  padding:2rem 1rem ;
  width: 100%;
}
.projects h1{
  margin-bottom: 1rem;
}
.projects-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
@media (max-width:600px) {
  .projects-wrapper{
  grid-template-columns: repeat(1, 1fr);
  }
}